*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto 2rem;
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: #000000;
    color: white;
    font-family: 'Chakra Petch', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    position: inherit;
}

.hamburger {
    display: none;
}


.acm-logo {
    display: flex;
    width: 10rem;
}

.acm-logo a {
    width: max-content;
}

.acm-logo a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links-main,
.nav-links-user {
    display: flex;
    justify-content: space-evenly;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar a {
    display: flex;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
}

.avatar a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

.avatar a > img:hover {
    border: 2px solid white;
}

.nav-link {
    display: flex;
    justify-content: center;
}

.nav-link a {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}

small,
ul {
    list-style: none;
    margin: 1rem 0;
}

.form-text {
    display: block;
}

.other-link {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}

.nav-link .logout {
    border: 2px solid grey;
}

.nav-link a,
.mob-nav-link a {
    color: white;
    text-decoration: none;
}

.nav-link a:hover,
.other-link:hover {
    border: 2px solid white;
    /* transition: 0.3s ease-in-out; */
    cursor: pointer;
}

.mobile-nav {
    display: none;
}

.mobile-nav-btn {
    display: none;
}



/* Landing-Main */
main {
    display: flex;
    justify-content: space-around;
}

/* main>div {
    height: 60vh;
} */

.main-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    /* text-align: center; */
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown h1 {
    text-align: center;
}

.countdown-main ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    list-style: none;
}

.countdown-main ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
    font-weight: 500;
    font-size: larger;
    min-width: 6rem;
}

.countdown-main ul li span {
    font-size: 56px;
    font-weight: bold;
    padding: 10px;
}

.term:after {
    content: "_";
    opacity: 1;
    animation: cursor 1.5s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;

    min-height: 10vh;
    align-items: center;
}

/* Rules */
.rules {

    max-width: 90vw;
    margin: 3rem;
    font-size: 18px;
}

.rules h1,
.rules h2 {
    text-align: center;
}

.rule-container ul li {
    text-decoration: none;
    list-style: inside;
}

.rules p {
    text-align: center;
}

/* login */
.login-form {
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.076) 22.36%, rgba(255, 255, 255, 0.126) 42.79%, rgba(255, 255, 255, 0.08) 72.78%); */
    border-radius: 17px;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 960px;
}

.signup-form,
.user_profile-form {
    border-radius: 17px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 960px;
}

::-webkit-file-upload-button {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
    color: black;
}

.login-input,
.textinput,
.emailinput,
.passwordinput,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
}

.login-input:focus,
.textinput:focus,
.emailinput:focus,
.passwordinput:focus,
textarea {
    outline: none;

}


.login-btn {
    font-family: inherit;
    background-color: transparent;
    margin-top: 1rem;
}

/* Profile */
.profile {
    min-height: 50vh;
    max-height: 80vh;
    width: 70vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.076) 22.36%, rgba(255, 255, 255, 0.126) 42.79%, rgba(255, 255, 255, 0.08) 72.78%);
    border-radius: 17px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-details {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.profile_user-avatar {
    display: flex;
    justify-content: flex-end;
    border-radius: 9999px;
}

.profile_user-avatar img {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 9999px;
}

.profile_quiz-details h3 {
    display: inline-block;
    margin: 20px 0;
}

.profile_quiz-details h3 a {
    margin: 0;
    cursor: pointer;
}

/* Quiz */
.quiz {
    max-width: 70vw;
    max-height: 60vh;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.076) 22.36%, rgba(255, 255, 255, 0.126) 42.79%, rgba(255, 255, 255, 0.08) 72.78%);
    border-radius: 17px;
    padding: 3rem;
}

.quiz h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 18px;
}

.quiz h2 {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin: 18px auto;
    color: blue;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.button-check,
.button-hint {
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 18px;
    transition: all 1s ease;
}

.button-check:hover,
.button-hint:hover {
    transition: all 1s ease;
    border-bottom: 1px solid blue;
}

form label {
    font-size: 24px;
    margin: 18px auto;
    color: blue;
    cursor: pointer;
    font-weight: 400;
}

form input > text {
    width: 60vw;
    padding: 20px;
}

.quiz-input {
    padding: 0.75rem;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid transparents;
    width: 100%;
}

.quiz-input:focus {
    outline: none;
}

.quiz p {
    font-size: 18px;
}

/* Hackerboard */

.hackerboard_chart_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.hackerboard-details {
    align-self: center;
    width: 70vw;
    margin-top: 3rem;
}

.hackerboard {
    width: 70vw;
    margin-top: 1rem;
}

#myChart {
    min-width: 90%;
}


table {
    text-align: center;
    margin: auto;
}

.table-heading {
    text-align: center;
    font-size: 3rem;
}

th {
    border-bottom: 2px solid white;
    padding: 8px;
}

td {
    padding: 8px;
}

caption {
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 600;
}


@media screen and (max-width: 900px) {
    .hackerboard-details > canvas {
        display: none !important;
    }

    .hackerboard-details {
        width: 100%;
    }

    main {
        flex-direction: column;
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        margin: auto;
    }
}

#credential_picker_container {
    display: none;
}

.jumbotron {
    padding: 1rem;
}