{%extends 'index.html'%}
{%load static%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
<main>
    <div class="countdown">
        <h1>Welcome to Hache {{user.username}} !</h1>
        <h2>Hache 2023 will start at 18:00 on 13rd April 2023.</h2>
        <br>
        <div class="game">
            <div class="score-div">
                <h3 class="highescore">Your Score:
                    <span class="score">0</span>
                </h3>
            </div>

            <div class="stage"></div>
        </div>
    </div>
</main>

{%endblock content%}