{%extends 'index.html'%}

{%block content%}

<main>
    <div class="container">
        <div class="countdown">
            <h1>root@hache:~$</h1>
            <div class="countdown-main">
                <ul>
                    <li><span id="days">88</span>Days</li>
                    <li><span id="hours">88</span>Hours</li>
                    <li><span id="minutes">88</span>Minutes</li>
                    <li><span id="seconds">88</span>Seconds</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-logo">
        <img src="./static/assets/images/logo.svg" alt="HACHE 2023">
    </div>
</main>


{%endblock%}