{%extends 'index.html'%}

{%block content%}
<div class="login-form">
    <h1>Login To Hache</h1>
    <br>
    <form method="post">
        {%csrf_token%}
        <label for="username">Username: </label>
        <br>
        <input type="text" class="login-input" name="username" placeholder="Enter username">
        <br>
        <label for="password">Password: </label>
        <br>
        <input type="password" class="login-input" name="password" placeholder="Enter password">
        <br>
        <div class="submit-btn">
            <input type="submit" class="login-btn other-link" value="Login">
        </div>

    </form>
</div>

{%endblock%}