{%extends 'index.html'%}

{%block content%}
<div class="login-form">
    <h1>Login karlo frens</h1>
    <form method="post">
        {%csrf_token%}
        <label for="username">Username: </label>
        <br>
        <input type="text" class="login-input" name="username" placeholder="Enter username">
        <br>
        <label for="password">Password: </label>
        <br>
        <input type="password" class="login-input" name="password" placeholder="Enter password">
        <br>
        
        <input type="submit" class="login-btn" value="Login">

    </form>
</div>

{%endblock%}