{%load static%}

{%block style%}
<link rel="stylesheet" href="{%static 'css/mobile.css'%}">
{%endblock style%}
<nav>
    <div class="acm-logo">
        {%if user.is_authenticated%}
        <a href="{%url 'home'%}">
            <img src="{%static 'assets/images/acm.svg'%}" alt="ACM JUIT">
        </a>
        {%else%}
        <a href="{%url 'landing'%}">
            <img src="{%static 'assets/images/acm.svg'%}" alt="ACM JUIT">
        </a>
        {%endif%}
    </div>
    <div class="nav-links-main">
        <div class="nav-link"><a href="{%url 'rules'%}">Rules</a></div>
        <div class="nav-link"><a href="{%url 'hackerboard'%}">Hackerboard</a></div>
        {%if user.is_authenticated%}
        <div class="nav-link"><a href="{%url 'quiz'%}">Quiz</a></div>
        {%endif%}
    </div>
    <div class="nav-links-user">
        {%if user.is_authenticated%}
        <div class="avatar">
            <a href="{%url 'profile' username=user.username%}"><img src="{{user.profile.avatar.url}}"
                    alt="{{user.username}}"></a>
        </div>
        <div class="nav-link"><a class="logout" href="{%url 'logout'%}">Logout</a></div>
        {%else%}
        <div class="nav-link"><a href="{%url 'login'%}">Login</a></div>
        <div class="nav-link"><a href="{%url 'signup'%}">SignUp</a></div>
        {%endif%}
    </div>
    <div class="mobile-nav-btn">
        <i id="nav-btn-open" class="fa fa-bars" style="font-size: 36px; display: flex; align-items: center"></i>
    </div>

    <div class="mobile-nav hidden">
        <span class="mobile-nav-close-btn">
            <div>
                <i id="nav-btn-close" class="fa fa-close"
                    style="font-size: 36px; display: flex; align-items: center"></i>
            </div>
        </span>
        <div class="mob-nav-link"><a href="{%url 'rules'%}">Rules</a></div>
        <div class="mob-nav-link"><a href="{%url 'hackerboard'%}">Hackerboard</a></div>
        {%if user.is_authenticated%}
        <div class="mob-nav-link"><a href="{%url 'quiz'%}">Quiz</a></div>
        {%endif%}
        {%if user.is_authenticated%}
        <div class="mob-nav-link"><a href="{%url 'profile' username=user.username%}">Profile</a></div>
        <div class="mob-nav-link"><a class="logout" href="{%url 'logout'%}">Logout</a></div>
        {%else%}
        <div class="mob-nav-link"><a href="{%url 'login'%}">Login</a></div>
        <div class="mob-nav-link"><a href="{%url 'signup'%}">SignUp</a></div>
        {%endif%}
    </div>

</nav>