<nav>
    <h2 style="display: flex; justify-content: space-between;">
        <a href="{%url 'landing'%}">HACHE</a>

        {%if user.is_authenticated%}
        <img src="{{user.profile.avatar.url}}" alt="{{user.username}}" width="50px" height="50px">
        <a href="{%url 'profile' username=user.username%}">Profile</a>
        <a href="{%url 'logout'%}">Logout</a>
        {%else%}
        <a href="{%url 'login'%}">Login</a>
        <a href="{%url 'signup'%}">SignUp</a>
        {%endif%}

        <a href="{%url 'home'%}">Home</a>

    </h2>
</nav>