{%extends 'index.html'%}

{%block content%}
<div class="change_pasword-form">
    <h1>Change Password</h1>
    <br>
    <form method="post">
        {%csrf_token%}
        <label for="id_old_password">Old Password: </label>
        <br>
        <input type="password" class="form-control login-input" name="old_password" autocomplete="new-password" required
            id="id_old_password" placeholder="Enter Old Password">
        <br>
        <label for="id_new_password1">New Password: </label>
        <br>
        <input type="password" class="form-control login-input" required id="id_new_password1" name="new_password1"
            autocomplete="new-password" placeholder="Enter new password">
        <br>
        <label for="id_new_password2">New Password Confirmation: </label>
        <input type="password" class="form-control login-input" required id="id_new_password2" name="new_password2"
            autocomplete="new-password" placeholder="Confirm new password">
        <br>
        <div class="submit-btn">
            <input type="submit" class="login-btn other-link" value="Update Password">
        </div>

    </form>
</div>

{%endblock%}