{%extends 'index.html'%}
{%load static%}
{%block content%}

<div class="profile">
    <div class="profile-details">
        <div class="profile_user-details">
            <h1>{{profile.user.username}}'s Profile</h1>
            <p> <strong>Name: </strong>{{profile.user.first_name}} {{profile.user.last_name}} </p>
            <p><strong>CTF's Captured:</strong>
                {{profile.correct}} out of {{profile.total_questions}}</p>
            <p><strong>Bio:</strong><br>
                {{profile.bio}}
            </p>
        </div>
        <div class="profile_user-avatar">
            <img src="{{profile.avatar.url}}" alt="{{profile.user.username}}">
        </div>

    </div>
    <div class="profile_quiz-details">
        <h2>Quiz Analysis</h2>

        <p><strong>Quiz Status:</strong>
            {%if profile.winner %}
            Winner
            {%else %}
            Still in the game
            {%endif%}
        </p>

        <p><strong>Profile Status:</strong>
            {%if profile.verified %}
            Verified
            {%else %}
            Not Verified
            {%endif%}
        </p>

        <p> <strong>Score :</strong>
            {{profile.score}}
        </p>
        <p><strong>Last Question Time:</strong>
            {{profile.lastQuestionTime}}</p>
        <h3>
            {%if request.user.username == profile.user.username %}
            <a class="other-link" href="{%url 'editprofile' %}">Update Profile</a>
            {%endif%}
        </h3>
    </div>
</div>

{%endblock%}