{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="quiz">
        <div class="balloon-container"></div>
        <div id="response" style="text-align: center;"></div>
        <h1>Question {{question.questionNum}}</h1>
        <p>{{question.text}}</p>
        <h2>Assets</h2>
        <br>
        <input type="text" class="quiz-input" id="user-input" placeholder="Enter Your Answer Here..."
            aria-label="Enter Your Answer Here...">
        <br><br>
        <div class="button-group">
            <button id="button-check" type="button" class="button button-check check">Check</button>
            {% if hint != null %}
            <button id="buttonHint" type="button" class="button button-hint">Hint!!</button>
            {% endif %}

        </div>
        {{ hint|json_script:"hint" }}
        <form id="answer-form" action="{%url 'quiz'%}" method="post" style="display: none">
            {%csrf_token%}
            {{form}}
        </form>
    </div>
</div>
{% endblock content %}
{% block script %}

<script src="{% static 'js/script.js' %}"></script>
{% endblock script %}