{%extends 'index.html'%}

{%block content%}

<div class="rules">
    <h1>Rules !</h1>
    <br>
    <p>Now that you are a part of our community, you must know of some rules we follow around here.</p>
    <br>
    <div class="rule-container">
        <ul>
            <li>Make sure you register for the event before starting. Otherwise, you are not allowed to participate in
                the event.</li>
            <li>Make sure to verify the e-mail prior to the event. This ensures your eligibility for the event.</li>
            <li>Make sure you remember your password. Without the password, you won't be able to log-in into the event
                and won't be able to participate.</li>
            <li>When you start the CTF's, 24 hours will be alloted to complete the whole challenge. </li>
            <li>Each question has equal points and are to be solved in a particular order. </li>
            <li>Flags found are of the format <span>Flag{some_text}</span> . Some of the files
                may contain just the inner text within the brackets.
            </li>
            <li> Make sure you submit it in the format
                specified. Flag text is not case sensitive.
            </li>
            <li>Internet access is granted. Feel free to explore and read about the concept behind the problem.
            </li>
            <li>This is a competitive environment with the aim of learning cyber security and ethical hacking.
                Please do not
                share the flags and solutions with others. </li>
            <li>Ranks can be viewed on the Hackerboard page. The Hackerboard time is updated evertime a
                submission is made.
            </li>
            <li>For hints, you have to keep your eyes and ears open. </li>
            <li>Read between the lines to capture a particular flag. </li>
            <br>
            <h2>
                &lt; Special Rules and Instructions &gt;
            </h2>
            <br>
            <ul class="list">
                <li>Dont try to hack anything apart from this CTF Network.</li>
                <li>Dont try to hack other members.</li>
                <li>Dont spoil! Dont share how you solved each challenge with other members. </li>
                <li>Performing denial of service attacks on the server will lead to disqualification. You are
                    requested to play ethically.</li>
                <li>Brute force attacks on the flag form is prohibited.</li>
                <li>Remember, once the timer starts, it can't be paused. </li>
            </ul>
        </ul>

    </div>
</div>
{%endblock content%}